.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2cm;

}

.menu {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.show-menu {
  display: none;
}

.button {
  min-width: 125px;
  border: solid 1px;
  border-radius: 8px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition: all 500ms ease;
  cursor: pointer;
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

.logo {
  float: left;
}

article {
  flex: 3;

}

aside {
  flex: 2;
  border: 1px;
  padding: 100px 0;
  font-family: 'roboto';
  border: 3px rgba(238, 238, 238, 0.979) solid;
  width: 200px;
  margin: 0 auto;
}

.registro {
  float: right;
  background-color: rgb(75, 7, 139);
  color: white;
}

.conectarse {
  float: right;
  border: none;
}

.enviar {
  background-color: rgb(75, 7, 139);
  color: white;
}

.header {
  justify-content: space-between;
  background-color: rgb(250, 250, 255);
  font-family: 'roboto';
}

.texto {
  color: rgb(121, 115, 115);
  font-family: 'roboto';
  text-align: justify;
  font-size: 22cap;
}

.contacto {
  color: rgb(121, 115, 115);
  font-family: 'roboto';
  font-size: small;
  flex-direction: column;
  column-count: 2;
  justify-content: space-evenly;
}

.titulo {
  font-family: 'roboto';

}

article {
  background-color: rgb(250, 250, 255);
}

.first-input {
  display: flex
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.form-group label {
  width: 100%;

}